$bluebackground: lightblue;
$pinkbackground: lightpink;

%pheading{
  font-size: 35px;
  color: white;
  padding: 15px;
}

.pheading{
  @extend%pheading;
  background-color: $bluebackground;
}

#introjp{
  @extend%pheading;
  background-color: $pinkbackground;
}

ul{
  li{
      font-size: 18px;
  }
}
