header {
  color: cornflowerblue;
}
h2 {
  color: dimgrey;
}

a{
  color: forestgreen;
}

body {
  margin: 30px;
}

p{
  font-size: 18px;
}
.japanese{
    font-style: italic;
}

table{
  border: 1px solid dimgrey;
  margin: 30px;
}

th, td{
  border: 1px solid dimgrey;
  padding: 5px;
  text-align: center;
}

th{
  background-color: lightblue;
  color: white;
}
